.body {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100vh;
}

.container {
    text-align: center;
}

#error-message {
    color: red;
    margin: 10px 0px;
}

table {
    margin: 0px auto;
}

td {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    background-color: white;
}

/* use # to grab from id rather than class */
#guess-row td {
    background-color: #85d3e9;
}

.last-cell {
    background-color: #dddb78;
}

#keyboard {
    margin: 20px auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
    width: 50px;
    height: 60px;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key.special-key {
    width: 90px;
}

#user-guesses {
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}
#guess-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;  /* Ensure the list items wrap on smaller screens */
    max-width: 100%;  /* Ensure the list does not overflow the screen */
    margin: 0 auto;
}
#guess-list li {
    font-weight: bold;
}